/* -------------------------------------------------------------------------------- */
/*            STYLE-SHEET FOR ADMINISTRATOR-THINGS                                  */
/*				  author:			Rita Standhaft


/* -------------------------------------------------------------------------------- LOGIN-SCREEN */
#form_centered LABEL {
		float: left;
		margin: 0 0 15px 20px;
		font-size: 10pt; 
		width: 150px;
		color: #000000; 
		font-style: normal;
		border-style: none; }

#form_centered { 
		margin: 0;
		position: absolute;
		top: 100px;
  		left: 50%;
  		margin-left: -200px; }


/* -------------------------------------------------------------------------------- CONFIGURATION */
#logout {	
		position: absolute;
		text-align: center;
		font-style: italic;
		top: 0;
		right: 0; }

HR.admin_line {	
		margin: 0 0 10px 0;
		padding: 0;
		width: 80%;
		color: #00AA00; 
		clear: both; }

#forward {	
		text-align: center; }

#save {	
		text-align: left; }

#start_game {	
		text-align: center; }


#session_characteristics {
		margin: 10px 20px 10px 20px; 
		padding: 0; }

#session_characteristics TD {
		font-size: 11pt; 
		color: #000000;
		font-style: normal; 
		margin: 0 0 0 0; 
		padding: 2px 10px 2px 5px; }
		

#sessions {
		margin: 10px 20px 10px 20px; 
		padding: 0; }

#sessions TD {
		font-size: 11pt; 
		color: #000000;
		font-style: normal; 
		vertical-align: top; 
		margin: 0 0 0 0; 
		padding: 2px 10px 2px 5px; }

#sessions A:active {
		font-size: 10pt; 
		text-decoration: none;
		color: #FF0000;
		padding: 3px;
		margin: 0; }

#sessions A:link {
		font-size: 10pt; 
		text-decoration: none;
		color: #FF0000;
		padding: 3px;
		margin: 0; }		

#sessions A:visited {
		font-size: 10pt; 
		text-decoration: none;
		color: #FF0000;
		padding: 3px;
		margin: 0; }

		
#user_monitoring {
		margin: 30px 20px 30px 20px; 
		padding: 0; }

#user_monitoring TD {
		font-size: 11pt; 
		color: #000000;
		font-style: normal; 
		vertical-align: top;  
		margin: 0 0 0 0; 
		padding: 2px 20px 2px 5px; }


#game_results {
		margin: 10px 20px 10px 20px; 
		padding: 0; }

#game_results TD {
		font-size: 11pt; 
		color: #000000;
		font-style: normal; 
		vertical-align: top;  
		margin: 0 0 0 0; 
		padding: 2px 10px 2px 5px; }

A:link {
		font-size: 10pt; 
		text-decoration: none;
		color: #FF0000;
		padding: 3px;
		margin: 0; }
		
A:active {
		font-size: 10pt; 
		text-decoration: none;
		color: #FF0000;
		padding: 3px;
		margin: 0; }
	
	
A:hover {
		font-size: 10pt; 
		text-decoration: none;
		color: #FF0000;
		padding: 3px;
		margin: 0; }
		
/* Admin table */
th
{
	text-align: left;
}
td, th
{
	vertical-align: middle;
	border-top: 1px solid #eee;
}

/* playertable */
table.playertable
{
    float: left;
}

#session_characteristics table
{
	margin: 0;
}

/* Admin navigation */
.admin-nav
{
	padding: 4px;
	background: #eef;
	text-align: right;
}
.admin-nav a
{
	padding: 2px;
	color: #333;
	background: #eee;
	border: 1px solid #ddd;
}
.admin-nav .date
{
	float: left;
}

table.admintable {
    border-collapse: collapse;
    border: 1px solid #888;
    width: 100%;
	margin: 0;
    clear: left; /* Firefox */
}

.admintable th {
    padding: 2px 4px;
    border: 1px solid #888;
    background-color: #fff;
    cursor: pointer;
	text-align: left;
}

.admintable td {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    padding: 2px 4px;
}

.admintable tr:nth-child(even) {
    background-color: #eee;
}

.admintable tr:nth-child(odd) {
    background-color: #fff;
}

table.twocol {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table.twocol > tbody > tr > td {
    vertical-align: top;
}

.twocol td > tbody > td {
    padding: 0;
    width: 50%;
}

table.client_info {
    border: none;
    margin: 0;
    padding: 0;
}

.client_info td, .client_info th {
    border: none;
}
.client_info thead th {
    border-bottom: 1px solid black;
}

.client_info tbody th {
    margin: 0;
    padding: 0;
}

.client_info th + td, .client_info td + td, .client_info th + th {
    margin: 0;
    padding: 0 0 0 1em;
}

.ip, .mac {
    font-family: monospace;
}

.error, .error a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}
.warning, .warning a {
    color: #c70;
    font-weight: bold;
    text-decoration: none;
}
.error a:hover, .warning a:hover {
    text-decoration: underline;
}
pre.error, pre.warning
{
    white-space: pre-wrap;
}


table.display tr.even.row_selected td {
    background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
    background-color: #9FAFD1;
}



/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:pointer;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container a.modalCloseImg {background:url(../gfx/x.png) no-repeat top right; width:34px; height:34px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}

/*                     THE END                                                      */
/* -------------------------------------------------------------------------------- */
