.debug_link, .debug_session, .debug_admin
{
	background: #efe;
}

.debug_link
{
	
	padding: 2px;
	font-size: 12px;
}
.debug_session
{
	position: absolute; top:32px; left: 0; padding: 4px; width: 140px; font-size: 11px;
}
.debug_admin
{
	position: absolute; top:32px; right: 0; padding: 4px; width: 140px; font-size: 11px;
}