/* -------------------------------------------------------------------------------- */
/*            main style-sheet                                                      */
/*				  author:			rita standhaft


/* -------------------------------------------------------------------------------- general */
body {
		font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
		word-spacing: 0.06em;
		line-height: 1.1em;
		margin: 0 2px 10px 2px; 
		background: #ffffff; }

/* -------------------------------------------------------------------------------- text */
p {	
		font-size: 10pt; 
		color: #000000;
		font-style: normal;
		margin: 0 0 3px 0;
		padding: 0 20px 10px 20px; }

h2 {
		font-size: 12pt; 
		color: #000000;
		font-weight: bold;
		margin: 0 0 0 0;
		padding: 25px 20px 10px 20px; }
		
h3 {
		font-size: 11pt; 
		color: #000000;
		font-weight: bold;
		margin: 0 0 0 0;
		padding: 10px 20px 3px 20px; }

h4 {
		font-size: 11pt; 
		color: #000000;
		font-weight: bold; }

/* -------------------------------------------------------------------------------- links */
a:link {
		font-size: 10pt; 
		text-decoration: none;
		color: #000000;
		padding: 3px;
		margin: 0; }
		
a:active {
		font-size: 10pt; 
		text-decoration: none;
		color: #000000;
		padding: 3px;
		margin: 0; }
	
a:visited {
		font-size: 10pt; 
		text-decoration: none;
		color: #e56929;
		padding: 3px;
		margin: 0; }
	
a:hover {
		font-size: 10pt; 
		text-decoration: none;
		color: #000000;
		padding: 3px;
		margin: 0; }


/* -------------------------------------------------------------------------------- listings */
ul {
		margin: 0 0 0 0; 
		padding: 0 20px 0 20px; }

ol {
		margin: 0 0 0 0; 
		padding: 0 20px 0 20px; }

li {
		font-size: 11pt; 
		color: #000000; 
		font-style: normal;
		margin: 0 20px 0 20px;
		padding: 0 10px 3px 10px; }

/* -------------------------------------------------------------------------------- tables */
table {
		margin: 20px 20px 20px 20px; 
		padding: 0; }

th {
		font-size: 10pt; 
		color: #000000;
		font-weight: bold; 
		margin: 0 0 0 0; 
		padding: 2px 5px 2px 5px; }

tr {
		}
		
td {
		font-size: 10pt; 
		color: #000000;
		font-style: normal;
		vertical-align: top;  
		margin: 0 0 0 0; 
		padding: 2px 5px 2px 5px; }
		
.admintable b
{
    background: #DDE;
    padding: 4px;
    line-height: 30px;
}


/*                     the end                                                      */
/* -------------------------------------------------------------------------------- */
