/* -------------------------------------------------------------------------------- */
/*            STYLE-SHEET FOR USER-TEXT-PIECES                                           */
/*				  author:			Rita Standhaft


/* -------------------------------------------------------------------------------- TEXT */
#intro {
		margin: 0 100px 30px 100px;
		padding: 10px 100px 10px 100px; 
		width: 800px; }

P {	
		font-size: 11pt; 
		line-height: 1.5;
		color: #000000;
		font-style: normal;
		margin: 0 0 3px 0;
		padding: 0 20px 10px 20px; }

HR {	
		margin: 0 0 0 0;
		padding: 0;
		text-align: center;
		width: 98%;
		color: #00AA00; 
		clear: both; }
      
HR.line_above {	
		margin: 0 0 30px 0;
		padding: 0;
		text-align: center;
		width: 98%;
		color: #00AA00; 
		clear: both; }

H4 {
		margin: 0 ;
		padding: 0 10px 20px 20px; 
		font-size: 12pt; 
		color: #000000;
		font-weight: bold; }

/* -------------------------------------------------------------------------------- LINKS */
A:link {
		font-size: 11pt; 
		line-height: 1.5;
		color: #009900;
		font-style: normal;
		margin: 5px 0 5px 0;
		padding: 0 20px 10px 0px; }

A:visited {
		font-size: 11pt; 
		line-height: 1.5;
		color: #009900;
		font-style: normal;
		margin: 5px 0 5px 0;
		padding: 0 20px 10px 0px; }

A:hover {
		font-size: 11pt; 
		line-height: 1.5;
		color: #009900;
		font-style: normal;
		margin: 5px 0 5px 0;
		padding: 0 20px 10px 0px; }

A:active {
		font-size: 11pt; 
		line-height: 1.5;
		color: #009900;
		font-style: normal;
		margin: 5px 0 5px 0;
		padding: 0 20px 10px 0px; }


/* -------------------------------------------------------------------------------- TABLES */
TD {
		font-size: 11pt; 
		color: #000000;
		vertical-align: top;  
		margin: 0 0 0 0; 
		padding: 2px 15px 2px 15px; }

/* -------------------------------------------------------------------------------- LISTINGS */
UL {
		margin: 0 0 0 0; 
		padding: 0 20px 0 20px; }

OL {
		margin: 0 0 0 0; 
		padding: 0 20px 0 20px; }

LI {
		font-size: 11pt; 
		color: #000000; 
		font-style: normal;
		line-height: 1.4em;
		margin: 0 20px 0 20px;
		padding: 3px 10px 5px 10px; }


/* -------------------------------------------------------------------------------- BUTTONS */
#above {
		width: 100%;
		height: 30px;
		background-color: #F3F9CC; }
		
#logout {	
		position: absolute;
		text-align: center;
		font-style: italic;
		top: 0;
		right: 0; }
		
#forward {
      }
      
      	
/* -------------------------------------------------------------------------------- FOOTER */
#footer {
		clear: both;
		margin: 0 0 0 0;
		height: 10px; }

		
/*                     THE END                                                      */
/* -------------------------------------------------------------------------------- */
