/* -------------------------------------------------------------------------------- */
/*            STYLE-SHEET FOR USER-THINGS                                           */
/*				  author:			Rita Standhaft


/* -------------------------------------------------------------------------------- LOGIN-SCREEN */
#form_centered { 
		margin: 0;
		position: absolute;
		top: 100px;
  		left: 50%;
  		margin-left: -200px; }

#form_centered LABEL {
		float: left;
		margin: 0 0 15px 20px;
		font-size: 10pt; 
		width: 150px;
		color: #000000; 
		font-style: normal;
		border-style: none; }

/* -------------------------------------------------------------------------------- INTRO */
#intro {
		margin: 0 100px 0 100px;
		padding: 10px 100px 10px 100px; 
		width: 1000px; }

/* -------------------------------------------------------------------------------- GAME GENERAL */
H4 { 
		text-align: left; 
		float: left;
		width: 140px;
		margin: 0 0 0 10px;
		padding: 5px 0 0 0; }

HR {	
		margin: 0 0 5px 0;
		padding: 0 0 0 0;
		text-align: center;
		width: 98%;
/*		color: #00AA00;	*/
		color: #999999; 
		clear: both; }

HR.line_above {	
		margin: 0 0 30px 0;
		padding: 0;
		text-align: center;
		width: 98%;
		color: #00AA00; 
		clear: both; }

HR.line_middle {	
		margin: 15px 0 15px 0;
		padding: 0;
		text-align: center;
		width: 98%;
		color: #999999; 
		clear: both; }

#above {
		width: 100%;
		height: 30px;
		background-color: #F3F9CC; }
		
/* -------------------------------------------------------------------------------- GAME */
#username_above {	
		position: absolute;
		text-align: center;
		font-style: italic;
		top: 5px;
		right: 0; }
		
#logout {	
		position: absolute;
		text-align: center;
		font-style: italic;
		top: 5px;
		right: 0; }

#round_characteristics {
		list-style: none;
		margin: 0 0 0 0;
		padding: 0 0 0 0; 
		clear: both; }
		
#round_characteristics LI { 
		border-style: none;
		padding: 5px 20px 0 0;
		margin: 0 0 0 0;
		text-align: center;
		font-size: 10pt; 
		float: left; }

LABEL { 
		font-style: italic; 
		float: left;
		width: 150px;
		color: #000000; 
		border-style: none; }


#round_characteristics TD {
		font-size: 10pt; 
		font-style: oblique;
		color: #000000;
		font-style: normal; 
		vertical-align: top;  
		margin: 0 0 0 0; 
		padding: 2px 10px 2px 5px; }
		

/* -------------------------------------------------------------------------------- GAME CHARACTERISTICS */
#game_characteristics {
		margin: 10px 20px 10px 20px; 
		padding: 0; }

#game_characteristics TD {
		font-size: 9pt; 
		color: #000000;
		font-style: normal; 
		vertical-align: top;  
		margin: 0 0 0 0; 
		padding: 0 10px 0 5px; }


/* -------------------------------------------------------------------------------- GAME DECISION */
#decision_text {
		margin: 0 0 0 0;
		padding: 5px 0 0 0;
		width: 200px;
		text-align: justify;
		float: left; }

#game_decision {
		font-size: 10pt; 
		color: #000000;
		font-style: normal; 
		vertical-align: top; 
		visibility: visible;
		margin: 5px 30px 5px 30px; 
		padding: 5px 10px 5px 10px; 
		float: left; }

#game_decision_endofgame {
		font-size: 10pt; 
		color: #006600;
		font-style: normal; 
		text-align: center;
		width: 300px;
		height: 170px;
		border: solid blue 1px;
		margin: 5px 30px 20px 30px; 
		padding: 10px 10px 10px 10px; 
		float: left; }

#decision_area {
		margin: 0 20px 0 20px; 
		list-style: none;
		padding: 0 0 0 0; }

#decision_area LI {
		list-style: none;
		padding: 5px 5px 5px 5px; }

#register_message {
		color: #006600;
		text-align: center;
		visibility: hidden; }
		
.endofgame_message {
		color: #006600; }
			
			
/* -------------------------------------------------------------------------------- CALCULATOR */
#calculator_area {
		margin: 0 0 0 0; 
		padding: 0 0 0 0;
  		float: left; }
		
#calculator {
		background-color: #BBBBBB;
		margin: 0 20px 0 20px; 
		padding: 0; 
		border-collapse: collapse; }

#calculator TD {
		font-size: 10pt; 
		color: #000000;
		font-style: normal; 
		text-align: center; 
		border: solid black 1px;
		margin: 0 0 0 0; 
		padding: 5px 5px 5px 5px; }


/* -------------------------------------------------------------------------------- LAST ROUND INFORMATION */
#last_round_information {
		margin: 0 0 0 0; 
		padding: 5px 0 5px 0;
		width: 900px;
		float: left; }


/* -------------------------------------------------------------------------------- DECISION HISTORY */
#decision_history {
		margin: 10px 20px 10px 20px; 
		padding: 0; 
		border-collapse: collapse; }

#decision_history TD {
		font-size: 10pt; 
		color: #000000;
		font-style: normal; 
		vertical-align: top;  
		border: 1px black solid;
		margin: 0 0 0 0; 
		padding: 2px 10px 2px 5px; }

	
/* -------------------------------------------------------------------------------- CHATBOX */
#chatbox_area {
  		margin: 10px 0 0 20px;
  		left: 20px;  }

#chatbox_content {
		margin: 0 0 10px 0;
		width: 1000px;
		font-size: 9pt;
		height: 130px;
		overflow: scroll;
		border: solid #000000 1px;
		background-color: #EEEEEE; }	

#chatbox_area HR {
      color: #999999; 
      width: 50%; 
      margin: 0 0 0 20px; }	
      
#chatline {
  		margin: 0 0 0 160px;
		padding: 0 0 0 0; }

span.me
{
	color: #0000bb;
}

span.ptn1
{
	color: #008800;
}

span.ptn2
{
	color: #008888;
}

span.ptn3
{
	color: #993333;
}
	      
/* -------------------------------------------------------------------------------- STOPWATCH */
#theTime {
	background-color: #FFFFFF;
	color: #AAAAAA; }
		
.timeClass {
	background-color: #FFFFFF;
  	font-family: arial,verdana,helvetica,sans-serif;
  	font-weight: bold;
  	font-size: 14pt; 
	padding: 5px; }	
	
	
/* -------------------------------------------------------------------------------- FOOTER */
#footer {
		clear: both;
		margin: 0 0 0 0;
		height: 5px; }

		
/*                     THE END                                                      */
/* -------------------------------------------------------------------------------- */
